<h1 class="page-header">
  차트 컨트롤 생성 | Getting Start
</h1>
<p>
  JavaScript 애플리케이션에서 FlexChart를 시작하기위한 단계 :
</p>
<ol>
  <li>
    Wijmo에 대한 참조를 추가하십시오.
  </li>  
  <li>
    FlexChart의 호스트 역할을하는 마크 업을 추가합니다.
  </li>
  <li>
    JavaScript와 itemSource 속성을 통해 FlexChart를 초기화하십시오.
  </li>
  <li>
    하나 이상의 데이터 시리즈를 만들고 각각을 FlexChart의 시리즈 컬렉션에 추가하십시오.
  </li>
  <li>
    (선택 사항) CSS를 추가하여 차트 모양을 사용자 정의합니다.
  </li>
</ol>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexChart/Intro' src='//codepen.io/GrapeCity-Korea/embed/zNdNRy/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/zNdNRy/'>FlexChart/Intro</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe><p></p>
<p></p>