 <h1 class="page-header">
    행/열 고정 | Freezing Columns & Rows
  </h1>
  <p>
    그리드의 <b>frozenRows</b> 및 <b>frozenColumns</b> 속성을 설정하여 행 및 열을 고정 할 수 있습니다.
    <br>고정 된 셀(Cell)들은 스크롤이 불가하지만, 선택 및 편집 가능합니다.
  </p>  
<pre class="hljs javascript">flexGrid.frozenColumns = 1;
flexGrid.frozenRows = 2;
</pre>
  



<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>

<iframe height='680' scrolling='no' title='FlexGrid/Column 고정' src='//codepen.io/GrapeCity-Korea/embed/eBwQRW/?height=680&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/eBwQRW/'>FlexGrid/Column 고정</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p> 