 <h1 class="page-header">
    레이아웃 저장 | Persisting the Layout
  </h1>
  <p>
    기본적으로 FlexGrid를 사용하면 사용자가 원하는데로 열의 크기를 조정하고 순서를 변경할 수 있습니다. 
    하지만, 때때로 이러한 레이아웃 상의 변경사항들을 기억하거나, 원래 모양으로 복원하고 싶을 경우가 있습니다.
    </p>
  <p>   
   이럴 경우, <b>FlexGrid</b>의 <b>columnLayout 속성</b>을 사용하면 사용자가 <b>열 레이아웃을 저장하고 복원</b> 할 수 있습니다.
   <br>아래 버튼을 클릭하여 작동 방식을 확인하십시오.
  </p>

<pre class="hljs javascript"><span class="hljs-keyword">var</span> layOut = flexGrid.columnLayout;</pre>

<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>

<iframe height='680' scrolling='no' title='FlexGrid/Column 레이아웃' src='//codepen.io/GrapeCity-Korea/embed/aBgQmL/?height=680&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/aBgQmL/'>FlexGrid/Column 레이아웃</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p> 