<h1 class="page-header">
  행 자동 크기조절 | AutoSizing
</h1>
<p>
  이 그리드는 내용에 맞게 행의 크기를 자동으로 조정합니다. 이는 콘텐츠 크기에 영향을주는 이벤트에 대한 응답으로 <b>autoSizeRows</b> 메서드를 호출하여 수행합니다.</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Auto-Size Rows' src='//codepen.io/GrapeCity-Korea/embed/aJxBZv/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/aJxBZv/'>FlexGrid/Auto-Size Rows</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>)
  on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>