<h1 class="page-header">
  혼합 차트 타입 | Mixed Chart Type
</h1>
<p>
  계열 자체에 차트 유형 속성을 설정하여 각 차트 계열에 다른 차트 유형을 사용할 수 있습니다. 차트의 기본 차트 유형을 재정의합니다.
</p>
<p>
  아래 예제에서 차트의 chartType 속성은 Column으로 설정되었지만 계열이 LineAndSymbol 차트 유형을 사용하도록 재정의합니다.
</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexChart/MultiChart' src='//codepen.io/GrapeCity-Korea/embed/rjzyag/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/rjzyag/'>FlexChart/MultiChart</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>