<h1 class="page-header">
  Fast Scroller (iOS-style)
</h1>
<p>
  iPad 연락처 목록은 빠른 스크롤러를 사용하여 이니셜을 클릭하여 사람들을 쉽게 찾을 수 있도록합니다.
</p>
<p>
  이 샘플은 그리드의 오른쪽 모서리 근처에 글자의 Initial 수직 목록을 추가하여 비슷한 결과를 나타냅니다.사용자가 Initial을 클릭하거나 입력하면 눈금이 스크롤되어 요청과 일치하는 첫 번째 연락처가 표시됩니다.
</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='720' scrolling='no' title='FlexGrid/Fast Scroller (iOS-style)' src='//codepen.io/GrapeCity-Korea/embed/JWVbOb/?height=720&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/JWVbOb/'>FlexGrid/Fast Scroller (iOS-style)</a> by GrapeCity Korea
  (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>