<h1 class="page-header">
  크기변경 이벤트 | Resize Event
</h1>
<p>
  FlexGrid는 사용자가 열의 크기를 조정할 때 <b> resizingColumn </b> 및 <b> resizedColumn </b> 이벤트를 발생시킵니다.</p>
<p>
  예제 핸들은 <b> resizingColumn </b> 이벤트를 사용하여 열의 새로운 너비와 함께 툴팁을 표시합니다.</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Column Sizing Events' src='//codepen.io/GrapeCity-Korea/embed/zZRvbb/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/zZRvbb/'>FlexGrid/Column Sizing Events</a> by GrapeCity Korea
  (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>