<h1 class="page-header">
  필터링 | Filtering
</h1>
<p>
  CollectionView 클래스는 .NET의 것과 동일한 <b>ICollectionView 인터페이스</b>를 통한 필터링을 지원합니다. 필터링을 사용하려면 <b>CollectionView.filter 속성</b>을
  뷰에 보여질 개체를 결정하는 함수로 설정합니다.
</p>
<p>
  이 예에서는 국가(Country)에 대한 필터를 만들고 입력 컨트롤에서 필터 값을 가져옵니다. 필터를 입력하면 그리드가 새로 고쳐지고 fitlered 데이터가 렌더링됩니다.
</p>
<hr>
<h3> 샘플코드 1: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='CollectionView/Filtering-simple' src='//codepen.io/GrapeCity-Korea/embed/RpOoGZ/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/RpOoGZ/'>CollectionView/Filtering-simple</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>

<hr>
<h3> 샘플코드 2: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='CollectionView/Filtering' src='//codepen.io/GrapeCity-Korea/embed/ggmLra/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/ggmLra/'>CollectionView/Filtering</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>)
  on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>