<h1 class="page-header">
  하단 집계 | Below Aggregates
</h1>
<p>
  데이터 아래에 집계를 표시하려면 집계하려는 열에 집계 속성을 설정하고 GroupRow를 그리드의 columnFooter 패널에 추가합니다.
</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Column/Below Aggregates' src='//codepen.io/GrapeCity-Korea/embed/jBMozW/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/jBMozW/'>FlexGrid/Column/Below Aggregates</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>