<h1 class="page-header">
  필터 패널 | FilterPanel
</h1>

<p>
  이번 튜토리얼에서는 사용자기 직관적으로 현재 활성화되어 있는 필터에 대해서 볼 수 있는 FilterPanel 클래스를 구현하는 방법을 보여줍니다. 
</p>
<p>
  필터 패널을 사용하기 위해서는 Header 태그에 반드시 Input, Filter, Grouppanel 클래스를 선언해주어야 합니다.
</p>
<pre class="hljs javascript">&lt;script src="scripts/vendor/controls/<span class="hljs-doctag">wijmo.input.min.js</span>"&gt;&lt;/script&gt;
&lt;script src="scripts/vendor/controls/<span class="hljs-doctag">wijmo.grid.filter.min.js</span>"&gt;&lt;/script&gt;
&lt;script src="scripts/vendor/controls/<span class="hljs-doctag">wijmo.grid.grouppanel.min.js</span>"&gt;&lt;/script&gt;
</pre>
<p>
  아래 예제에서는 활성 필터를 표시하기 위해 FilterPanel 클래스를 구현하는 방법을 보여줍니다.  
</p>
<p>
  해당 튜토리얼의 js 코드를 보시면, 저희가 <b>미리 구현해 놓은 FilterPanel.js 클래스</b>가 있습니다. "필터 패널"이 필요하신 경우, 그대로 가져다 사용하시거나 커스터 마이징하시어 사용하시면 됩니다.
</p>


<h3> 샘플코드: </h3>
<p><code>Result와 함께 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/FilterPanel' src='//codepen.io/GrapeCity-Korea/embed/vgJyoq/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/vgJyoq/'>FlexGrid/FilterPanel</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>