<h1 class="page-header">
  컬렉션뷰 | CollectioView
</h1>
 <p>
    그리드의 <b>itemsSource</b> 속성을 일반 JavaScript 배열로 설정하면 내부 <b>CollectionView</b>가 자동으로 만들어지고, 
    이를 데이터 소스로 사용하므로 사용자가 직접 <b>CollectionView</b>를 만들지 않아도 정렬 및 편집 기능을 제공 할 수 있습니다.</p>
  <p>
    이 내부 뷰(view)는 그리드의 <b>CollectionView</b> 속성에 의해 노출되어 있으므로 추가 기능이 필요할 경우를 대비하여 사용할 수 있습니다.</p>
  <p>
    예를 들어, 아래의 그리드는 일반 배열에 바인딩되고 그리드의 <b>CollectionView</b> 속성은 현재 선택된 항목을 표시하는 데 사용됩니다:</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/DataBinding/CollectionView' src='//codepen.io/GrapeCity-Korea/embed/wJmmNz/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/wJmmNz/'>FlexGrid/DataBinding/CollectionView</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>