<h1 class="page-header">
  그리드 이벤트 | Grid Event
</h1>
<p>
  FlexGrid는 컨트롤의 모든 동작을 사용자 정의하는 데 사용할 수 있는 많은 이벤트를 제공합니다. 
  <a href="http://wijmo.com/5/docs/topic/wijmo.grid.FlexGrid.Class.html" target="_blank">온라인 문서</a>에서 전체 목록을 볼 수 있습니다.
</p>
<p>
  이러한 이벤트는 다음과 같은 범주로 분류 할 수 있습니다.</p>
<ul>
  <li>
    <b>마우스</b>: FlexGrid는 마우스 처리를 위해 HTML 이벤트를 사용하며 이벤트가 가리키는 그리드 부분을 결정하는 데 사용할 수있는 hitTest 메서드를 포함합니다.
  </li>
  <li>
    <b>선택</b>: 
     <b>selectionChanging</b> 및 <b>selectionChanged</b> 이벤트는 사용자가 그리드의 일부를 선택하거나 현재 <b>선택</b> 항목과 관련된 정보를 표시하지 못하도록하는 데 사용할 수 있습니다.
  </li>
  <li>
    <b>편집</b>: 
     FlexGrid는 특정 셀의 편집 (<b>beginEdit</b>) 방지, 편집기 요소 사용자 정의 (<b>prepareCellForEdit</b>), 유효성 검사 (<b>cellEditEnding</b>) 등을 위해 사용할 수있는 이벤트를 제공합니다.
  </li>
  <li>
    <b>행 및 열 크기 조정:</b> FlexGrid는 행 및 열의 크기를 조정하면서 이벤트를 발생시켜 그리드 레이아웃의 유효성을 검사하거나 유지할 수 있습니다.</li>
  <li>
    <b>열 재배치:</b> FlexGrid는 행 레이아웃을 검증하거나 유지할 수 있도록 행과 열이 새로운 위치로 드래그되는 동안 이벤트를 발생시킵니다.</li>
  <li>
    <b>Drag and Drop:</b> FlexGrid는 행과 열을 재정렬하기 위해 HTML 드래그 / 드롭 이벤트를 사용하며 셀 드래그 앤 드롭 기능을 제공하기 위해 해당 지원을 확장 할 수 있습니다.</li>
</ul>
<p></p>
<p></p>