<h1 class="page-header">
  현재 레코드 관리 | Current Record Management
</h1>
<p>
  이 경우 currentPosition 속성을 사용하여 컬렉션의 현재 레코드 위치를 가져옵니다. 
</p>
<p>
  또한 현재 위치를 변경하려면 아래와 같은 메서드를 사용합니다. 
</p>
<ul>
  <li>
     <b>moveCurrentTo (item)</b>
  </li>
  <li>
     <b>moveCurrentToFirst ()</b>
  </li>
  <li>
     <b>moveCurrentToLast ()</b>
  </li>
  <li>
     <b>moveCurrentToNext ()</b>
  </li>
  <li>
     <b>moveCurrentToPosition (index)</b>
  </li>
  <li>
     <b>moveCurrentToPrevious ()</b>
  </li>
</ul>
<p>
  현재가 변경되면 <b>currentChanging</b> 및 <b>currentChanged</b> 이벤트를 사용하여 추적합니다. <b>currentChanging</b> 이벤트에서 현재 변경을 취소 할 수 있습니다.
</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='CollectionView/Current Record Management' src='//codepen.io/GrapeCity-Korea/embed/ZLLoee/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/ZLLoee/'>CollectionView/Current Record Management</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>