<h1 class="page-header">
  wijmo.animate Method
</h1>
<p>
  애니메이션을 사용하면 웹 응용 프로그램을 더욱 매력적이고 직관적으로 만들 수 있습니다.
</p>
<p>
  많은 JavaScript 툴킷과 프레임 워크에는 애니메이션을 만들기위한 래퍼가 있습니다. 예를 들어, Angular에는 <a href="https://docs.angularjs.org/api/ng/service/$animate"
    target="_blank">$animate</a>서비스가 있고 jQuery에는 <a href="http://api.jquery.com/animate/">animate()</a>메서드가 있습니다. 즐겨사용하는 것이
  있다면 Wijmo와 함께 사용할 수 있습니다.

  <p>
    만약 <b>외부 툴킷 및 프레임 워크에 대한 종속성을 줄이고싶다</b>면, <b>Wijmo</b>의 간단하고 유연한 <b>animate</b> 메서드를 대신 사용할 수 있습니다.
  </p>
  <p>
    아래의 예는 <b>플립 카드</b>처럼 FlexGrid를 회전시켜 보여줍니다. <b>animate</b> 메서드에는 전체 애니메이션을 제어하는 단일 콜백이 있습니다.</p>
  <hr>
  <h3> 샘플코드: </h3>
  <p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
  <iframe height='650' scrolling='no' title='FlexGrid/animate' src='//codepen.io/GrapeCity-Korea/embed/OpWEdd/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
    frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/OpWEdd/'>FlexGrid/animate</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>)
    on <a href='http://codepen.io'>CodePen</a>.
  </iframe>
  <p></p>
  <p></p>