<h1 class="page-header">
  범례 및 제목 | Legend and Titles
</h1>
<p>
  <b>범례의 속성</b>을 사용하여 차트 <b>범례, 머리글, 바닥 글 및 축 제목 속성의 모양</b>을 사용자 지정하여 차트에 제목을 추가합니다.
</p>
<p>
  <b>CSS</b>를 사용하여 범례와 제목의 스타일을 지정할 수 있습니다. 
  아래의 CSS 탭은 범례와 제목의 모양을 사용자 정의하는 데 사용되는 규칙을 보여줍니다. 
  SVG 요소이므로 "color"대신 "fill"과 같은 CSS 속성을 사용해야합니다.
</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexChart/legend&Title' src='//codepen.io/GrapeCity-Korea/embed/OWjpyO/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/OWjpyO/'>FlexChart/legend&Title</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>