<h1 class="page-header">
  마우스 이벤트 | Mouse Event
</h1>
<p>
  마우스 이벤트를 처리하려면 그리드의 <b> hostElement </b>에 리스너를 추가하고 <b> hitTest </b> 메서드를 사용하여 클릭한 그리드 패널과 셀을 확인하십시오.</p>
<p>
  아래의 표에는 'mousemove'이벤트에 연결된 핸들러가 있으며 마우스 아래의 요소에 대한 정보를 보여줍니다.</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Event/Mouse' src='//codepen.io/GrapeCity-Korea/embed/JWpYvV/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/JWpYvV/'>FlexGrid/Event/Mouse</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>)
  on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>