<h1 class="page-header">
  자동 수정모드 | Always Editing
</h1>
<p>
  FlexGrid는 기본적으로 효율적인 Excel 스타일 편집 기능을 제공하지만 편집 동작을 사용자 정의하려는 경우가 있습니다.</p>
<p>
  가장 간단한 사용자 정의는 그리드가 항상 편집 모드에 있는지 확인하는 것입니다. 이렇게하면 언제든지 셀에 입력하여 편집 할 수 있기 때문에 사용자에게 그리드를 편집 할 수 있음을 보여줍니다.</p>
<p>
  항상 그리드를 편집 모드로 유지하는 가장 쉬운 방법은 그리드가 포커스를 얻었을 때와 선택이 바뀔 때 <b>startEditing</b> 메소드를 호출하는 것입니다.</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Editing/Always Editing' src='//codepen.io/GrapeCity-Korea/embed/mWXbRz/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/mWXbRz/'>FlexGrid/Editing/Always Editing</a> by GrapeCity Korea
  (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>