<h1 class="page-header">
  마우스 올렸을 때 스타일 | Hover
</h1>
<p>
  기본적으로 그리드의 셀에는 단색 배경이 있습니다.아래의 방법을 통해 사용자가 마우스를 셀 또는 Row에 올렸을때 행의 스타일을 결정할 수 있습니다.
</p>

<h3>
  <b>Hover on Cells</b>
</h3>
<p>
  셀에 마우스를 올리면 스타일 변하는 Hover 스타일을 추가할 수 있습니다.'.wj-cell'클래스와 'hover'가상 셀렉터를 기반으로 CSS를 추가하기 만하면됩니다.
</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Rows/Hover on Cells' src='//codepen.io/GrapeCity-Korea/embed/Vpxrex/?height=650&theme-id=light&default-tab=css,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/Vpxrex/'>FlexGrid/Rows/Hover on Cells</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe><p></p>
<p></p>
<h3>
  <b>Hover on Rows</b>
</h3>
<p>
  CSS를 사용하여 행에 마우스를 올려 놓았을 때 스타일을 변경하는것도 가능합니다. 트릭은 'after' 셀렉터를 사용하여 전체 행에 Pseudo 요소를 만드는 것입니다. 이 요소는 불투명도가 1보다 작아야 셀을 볼 수 있습니다.
</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Rows/Hover on Rows' src='//codepen.io/GrapeCity-Korea/embed/wJXeKN/?height=650&theme-id=light&default-tab=css,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/wJXeKN/'>FlexGrid/Rows/Hover on Rows</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
