<h1 class="page-header">
  인라인 편집 | Inline Editing
</h1>
<p>
  FlexGrid는 기본적으로 효율적인 Excel 스타일 편집 기능을 제공하지만 <b>편집 동작을 사용자가 정의</b> 할 수도 있습니다.</p>
<p>
  어떤 이유로 Excel 스타일 편집이 마음에 들지 않고 모든 행(typical of editable HTML tables)에 편집 단추를 추가하는 것을 선호한다면, <b> formatItem </ b> 이벤트와 약간의 코드를 사용하여 이를 수행 할 수 있습니다.</p>
<p>
  아래의 그리드는 인라인 편집방법을 보여줍니다:</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Editing/InLine Editing' src='//codepen.io/GrapeCity-Korea/embed/dvdbRe/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/dvdbRe/'>FlexGrid/Editing/InLine Editing</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>