<h1 class="page-header">
  Sizing 및 Scrolling
</h1>
<p>
  기본적으로 FlexGrid는 내용에 맞게 자동으로 높이를 설정합니다.</p>
<p>
  그러나 대부분의 경우 CSS를 사용하여 그리드의 높이를 제한하려고합니다.이 경우 그리드는 필요에 따라 자동으로 스크롤 막대를 표시하고 내용을 가상화(virtualize)하여 성능을 향상시킵니다.</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Sizing and Scrolling' src='//codepen.io/GrapeCity-Korea/embed/QpPGwV/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/QpPGwV/'>FlexGrid/Sizing and Scrolling</a> by GrapeCity Korea
  (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>