<h1 class="page-header">
  집계 | Aggregates
</h1>
<p>
  <b>FlexGrid</b> 열은 전체 그리드 또는 각 그룹에 대한 데이터 요약을 표시 할 수있는 <b>집계(aggregate)</b> 속성을 가지고 있습니다.
</p>
<p>
 그룹 집계를 표시하려면 집계할 열의 집계 속성을 설정하고 열 머리글을 그리드 위의 그룹 패널로 드래그하여 그룹을 만듭니다.
</p>
<p>
 아래의 샘플에서, 그룹 행에 각 그룹의 'Sales'및 'Expenses'열의 합계가 포함되어 있는지 확인하십시오. 집계는 데이터를 편집 할 때 자동으로 업데이트됩니다.
</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Column/Aggregates' src='//codepen.io/GrapeCity-Korea/embed/oZzRGd/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/oZzRGd/'>FlexGrid/Column/Aggregates</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>