<h1 class="page-header">
  차트 타입 | Chart Type
</h1>
<p>
  FlexChart 컨트롤에는, 다음의 3 개의 property가있어, 차트의 형태를 커스터마이즈 할 수 있습니다.
</p>
<ol>
  <li>
    <b>chartType</b> : 모든 계열에 사용할 기본 차트 유형을 선택합니다. 개별 시리즈는 이것을 무시할 수 있습니다.
  </li>  
  <li>
    <b>stacking</b> : 계열을 독립적으로 플롯(plot)할지, 스택할지, 스택하여 합계가 100 %가 되도록 할지를 결정합니다.
  </li>
  <li>
    <b>rotate</b> : X 및 Y 축을 반전시켜 X가 수직 및 Y 수평이되도록합니다.
  </li>  
</ol>
<p>
  아래 예제에서는 이러한 속성을 변경할 때 어떤 일이 발생하는지 볼 수 있습니다.
</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='680' scrolling='no' title='FlexChart/ChartType' src='//codepen.io/GrapeCity-Korea/embed/PWKWrj/?height=680&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/PWKWrj/'>FlexChart/ChartType</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>