<h1 class="page-header">
  사용자 셀 에디터 | Custom Editor
</h1>
  <p>
    FlexGrid는 기본적으로 효율적인 Excel 스타일 편집 기능을 제공하지만 편집 동작을 사용자 정의 할 수 있습니다.
  </p>
  <p>
    이 예제는 모든 Wijmo 컨트롤을 그리드 편집기로 사용할 수있게 해주는 <b> CustomGridEditor </b> 클래스를 정의합니다.
  </p>
  <p>
    JS 를 보시면 저희 쪽에서 미리 구현해 좋은 <b> CustomGridEditor </b> 클래스를 그대로 가져다 사용하시면, 
    원하는 Column에 사용자가 원하는 Wijmo input 컨트롤을 함수 호출만으로 추가할 수 있습니다.
  </p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Custom Editor' src='//codepen.io/GrapeCity-Korea/embed/KWQpRz/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/KWQpRz/'>FlexGrid/Custom Editor</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>