<h1 class="page-header">
  사용자 정의 Glyphs
</h1>
<p>
  많은 Wijmo 컨트롤에는 '글리프 (glyphs)'라는 작은 이미지가 포함됩니다. 예를 들어 <b> ComboBox </b>는 항목 목록을 표시하는 데 사용되는 버튼에 글리프를 사용합니다.
  <b> FlexGrid </b>는 글리프를 사용하여 정렬, 편집, 확장/축소 노드 등 다양한 상태표시를 표시합니다.
</p>
<p>
  Wijmo 컨트롤에 사용 된 모든 글리프는 CSS 기반이므로, 코드를 사용하지 않고 CSS 규칙으로 모든 컨트롤 또는 특정 컨트롤을 재정의 할 수 있습니다.</p>
<p>
  이 예는 <b> FlexGrid </b> 글리프를 부트 스트랩 아이콘 및 일반 이미지로 대체하는 방법을 보여줍니다.
</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Custom Glyphs' src='//codepen.io/GrapeCity-Korea/embed/YZbyXa/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/YZbyXa/'>FlexGrid/Custom Glyphs</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>)
  on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>