<h1 class="page-header">
  상단 집계 | Upper Aggregates
</h1>
<p>
  <b>데이터 위에 집계를 표시</b>하려면 다음 단계를 따르십시오.
</p>
<ol class="ng-scope">
  <li>
    집계 할 열의 집계 속성을 설정합니다.
  </li>
  <li>
    dummy 속성을 기반으로 단일 GroupDescription을 만듭니다.
  </li>
  <li>
    선택적으로 집계를보기 위해 맨 위 행을 고정합니다.
  </li>
</ol>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Column/Upper Aggregates' src='//codepen.io/GrapeCity-Korea/embed/OpRYzY/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/OpRYzY/'>FlexGrid/Column/Upper Aggregates</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>