<h1 class="page-header">
  셀 템플릿 | Cell Templates
</h1>
<p>
  Wijmo의 <b> format </b> 함수를 사용하여 기본 템플릿 처리 메커니즘을 구현할 수 있습니다.</p>
<p>
  아래의 그리드는 <b> formatItem </b> 이벤트를 처리하여 마크 업에 정의 된 템플릿 요소를 사용하여 'Template'열의 셀 내용을 생성합니다.</p>

<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Cell Templates (Purejs)' src='//codepen.io/GrapeCity-Korea/embed/MpRpLz/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/MpRpLz/'>FlexGrid/Cell Templates (Purejs)</a> by GrapeCity Korea
  (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>