<h1 class="page-header">
  PDF 내보내기 | PDF Export
</h1>
<p>
  FlexGrid 컨트롤을 PDF로 내보내려면 두 개의 추가 모듈을 응용 프로그램에 포함해야합니다.</p>
<ol>
  <li>
    <b>wijmo.pdf.js</b>: PDF 파일을 저장하고로드하는 일반적인 방법을 제공합니다.</li>
  <li>
    <b>wijmo.grid.pdf.js</b>: FlexGrid 컨트롤을 PDF로 저장하기 위해 <b> wijmo.pdf.js </b>를 사용하는 <b> FlexGridPdfConverter </b> 클래스가 들어
    있습니다.
  </li>
</ol>
<p>
  FlexGrid를 PDF로 내보내려면 <b> FlexGridPdfConverter.export </b> 메서드를 호출하고 내보낼 표에 대한 참조, 파일 이름 및 페이지 서식, 머리글과 바닥 글 및 스타일을 정의하는
  추가 옵션을 제공합니다.</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Export to PDF' src='//codepen.io/GrapeCity-Korea/embed/QpQyvV/?height=650&theme-id=light&default-tab=js,result&embed-version=2'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/QpQyvV/'>FlexGrid/Export to PDF</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>)
  on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>