<h1 class="page-header">
  wijmo.httpRequest Method
</h1>
<p>
  HTTP 요청은 웹 응용 프로그램에서 서버와 데이터를 교환하는 데 사용되는 기본 메커니즘입니다.</p>
<p>
  많은 JavaScript 툴킷과 프레임 워크에는 HTTP 요청을하기위한 자체 래퍼가 있습니다.예를 들어, Angular에는 <a href="https://docs.angularjs.org/api/ng/service/$http"
    target="_blank">$http</a>서비스가 있고 jQuery에는 <a href="http://api.jquery.com/jquery.ajax/">ajax()</a>메서드가 있습니다.즐겨 사용하는 메소드가
  있다면 Wijmo에서 사용할 수 있습니다.</p>
<p>
  만약, 외부 툴킷 및 프레임 워크에 대한 종속성을 줄이고 싶다면 Wijmo의 간단하고 유연한 <b>httpRequest</b> 메소드를 사용할 수 있습니다.</p>
<p>
  아래의 예제는 Microsoft의 Northind OData 샘플 서비스에서 일부 데이터를 가져 와서 FlexGrid를 채우는 방법을 보여줍니다.</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/httpRequest' src='//codepen.io/GrapeCity-Korea/embed/mWRKQG/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/mWRKQG/'>FlexGrid/httpRequest</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>)
  on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>