<h1 class="page-header">
  깔때기 차트 | Funnel Chart
</h1>
<p>
  아래 예제는 깔때기 형 차트를 만들고 사용자 정의하는 방법을 보여줍니다.
</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexChart/FunnelChart' src='//codepen.io/GrapeCity-Korea/embed/apyJoo/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/apyJoo/'>FlexChart/FunnelChart</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>