<h1 class="page-header">
  추가 서비스 시작하기 | Other Service
</h1>
 <p>
    <b>wijmo.js</b> 모듈은 Control, Event 및 CollectionView 클래스와 같은 기본 클래스를 구현할뿐만 아니라 다음과 같은 다양한 유용한 서비스와 클래스를 제공합니다.
    <a href="http://wijmo.com/5/docs/topic/wijmo.Control.Class.html" target="_blank">Control</a>,
    <a href="http://wijmo.com/5/docs/topic/wijmo.Event.Class.html" target="_blank">Event</a> 및 
    <a href="http://wijmo.com/5/docs/topic/wijmo.collections.CollectionView.Class.html" target="_blank">CollectionView</a>
    클래스와 같은 기본 클래스를 구현할뿐만 아니라 다음과 같은 다양한 유용한 서비스와 클래스를 제공합니다.
  </p>
  <ul>
    <li>
      <a href="http://wijmo.com/5/docs/topic/wijmo.Tooltip.Class.html" target="_blank">Tooltip</a>:
      페이지의 요소에 대한 추가 정보를 표시하는 팝업 창을 제공하는 클래스입니다.</li>
    <li>
      <a href="http://wijmo.com/5/docs/topic/wijmo.Clipboard.Class.html" target="_blank">Clipboard</a>:
      응용 프로그램과 컨트롤에서 클립 보드 작업 중 클립 보드 내용을 사용자 정의하는 데 사용할 수있는 정적 복사 및 붙여 넣기 메서드를 제공하는 클래스입니다.
    </li>
    <li>
      <a href="http://wijmo.com/5/docs/topic/wijmo.PrintDocument.Class.html" target="_blank">PrintDocument</a>:
       인쇄하거나 PDF로 내보낼 문서를 쉽게 만들 수있는 클래스입니다. 
       대부분의 브라우저에서는 용지 크기, 방향, 여백 ​​및 페이지 머리글과 바닥 글을 포함할지 여부를 선택할 수 있습니다.
      </li>
    <li>
      <a href="http://wijmo.com/5/docs/topic/wijmo.Color.Class.html" target="_blank">Color</a>:
      CSS 문자열로 지정된 색상을 파싱하고 빨강, 녹색, 파랑 및 알파 채널을 읽기/쓰기 속성으로 표시하는 클래스입니다. 
      또한 색상 공간을 변환하고 보간하는 방법을 제공합니다.</li>
    <li>
      <a href="http://wijmo.com/5/docs/static/glyphs.html" target="_blank">Glyphs</a>:
      wijmo.css 파일에는 Wijmo 컨트롤에서 사용되는 여러 개의 글리프가 포함되어 있습니다. 
      이러한 문자 모양은 글꼴 파일이나 외부 이미지에 의존하지 않으므로 응용 프로그램에서도 사용할 수 있습니다.</li>
    <li>
      <a href="http://wijmo.com/5/docs/topic/wijmo.Module.html#httpRequest" target="_blank">httpRequest</a>:
      서버에 http 요청을 제출하는 데 사용되는 정적 메소드입니다.</li>
    <li>
      <a href="http://wijmo.com/5/docs/topic/wijmo.Module.html#animate" target="_blank">animate</a>:
      타이머의 속성을 설정하여 애니메이션을 만드는 데 사용되는 정적 메서드입니다.</li>
  </ul>