<h1 class="page-header">
  페이징 | Paging
</h1>
<p>
  <b>페이징(paging)</b>은 많은 양의 데이터를 처리하는 일반적인 기술입니다.
</p>
<br>
<hr>
<h3>
  Client-Side Paging
</h3>
<br>
<p>
  <b>CollectionView</b> 클래스는 기본적으로 클라이언트 쪽 페이징을 지원하므로 합리적인 양의 데이터를 포함하는 그리드와 테이블을 생성할 수 있습니다. 페이징을 사용하려면 <b>pageSize</b>  속성을 설정하고 <b> moveToPage </b> 메서드를 사용하여 표시할 페이지를 선택하십시오.</p>

<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/ Client-Side Paging' src='//codepen.io/GrapeCity-Korea/embed/rybWKx/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/rybWKx/'>FlexGrid/ Client-Side Paging</a> by GrapeCity Korea (
  <a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<br>
<hr>
<h3>
  Server-Side Paging
</h3>
<br>
<p>
  서버 쪽 페이징은 한 번에 한 페이지의 데이터를 가져오는 요청을 만드는 것으로 구성됩니다. 데이터를 검색하는 데 사용되는 실제 명령은 서버가 공개하는 API에 따라 다릅니다.</p>
<p>
  Wijmo에는 OData 데이터 소스에 대한 서버 기반 페이징 (정렬 및 필터링은 물론)을 구현하는 <b> ODataCollectionView </b> 클래스가 포함됩니다.</p>
  
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/paging' src='//codepen.io/GrapeCity-Korea/embed/GWaKVB/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/GWaKVB/'>FlexGrid/paging</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>)
  on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>