<h1 class="page-header">
  wijmo.showPopup | 팝업 열 선택기 | Popup Column Picker
</h1>
<p>
  그리드의 <b> columns </b> 속성, <b> ListBox </b> 컨트롤 및 Wijmo의 <b> showPopup </b> 및 <b> hidePopup </b>을 사용하여 쉽게 column-picker
  UI를 구현할 수 있습니다. </p>
<p>
  예를 들어 아래의 표는 자동 생성 된 열 집합으로 시작됩니다.왼쪽 상단의 "톱니바퀴"" 아이콘을 클릭하면 표시할 열을 선택할 수 있는 <b> ListBox </b>가 표시됩니다.</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Service/Popup Column Picker' src='//codepen.io/GrapeCity-Korea/embed/WpJdjO/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/WpJdjO/'>FlexGrid/Service/Popup Column Picker</a> by GrapeCity
  Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>