<h1 class="page-header">
  CollectionView 유효성 검사 | Validation
</h1>
<p>
  <b>CollectionView</b>에는 유효성 검사 지원을 제공하는 <b>getError</b> 속성이 있습니다. 이를 사용하려면 <b>getError</b>를 유효성을 검사할 데이터 항목과 유효성 속성을 포함하는
  두 개의 매개 변수를 취하는 함수로 설정하고 오류 조건을 설명하는 문자열을 반환합니다 (오류가없는 경우 null).
</p>
<p>
  <b>getError</b> 속성은 값 자체 (예 : min, max, required, pattern 등)를 기반으로하는 기본 HTML5 유효성 검사를 능가합니다. 여러 속성과 관련된 조건을 지정할 수 있습니다.
</p>
<p>
  <b>getError</b> 속성을 사용하면 항목 편집에 사용되는 UI 대신 유효성 검사 논리를 컬렉션 자체에 포함 할 수 있습니다. 그런 다음 동일한 양식을 입력 양식이나 FlexGrid와 같은 컨트롤에서 사용할
  수 있습니다.
</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='CollectionView/Validation/FlexGrid Validation' src='//codepen.io/GrapeCity-Korea/embed/jBRBOw/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/jBRBOw/'>CollectionView/Validation/FlexGrid Validation</a> by
  GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>

<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='CollectionView/Validation/ Forms Validation' src='//codepen.io/GrapeCity-Korea/embed/MpRpaQ/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/MpRpaQ/'>CollectionView/Validation/ Forms Validation</a> by GrapeCity
  Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>