<h1 class="page-header">
  읽기전용/필수컬럼 | Read-Only, Required Columns
</h1>
<p>
  그리드 열 또는 행 개체의 <b>isReadOnly</b> 속성을 사용하여 그리드 열 또는 행 수준에서 편집을 사용하지 않도록 설정할 수 있습니다.
  <b>cellEditStarting</b> 이벤트를 사용하여 특정 셀에 대한 편집을 비활성화할 수도 있습니다.</p>
<p>
  열의 <b>isRequired</b> 속성을 사용하여 해당 열에 대해 빈(empty) 값이나 null 값이 허용되어야하는지 여부를 결정할 수 있습니다.</p>
<p>
  아래 그리드를 사용하면 사용자가 'Country'열의 빈 값을 입력하지 못하게하고 숫자 열의 내용을 삭제할 수 있습니다.</p>
<p>
  그리드는 또한 사용자가 기한이 지난(overdue) 항목을 편집하지 못하도록하기 위해 <b>beginEdit</b> 이벤트를 사용합니다.</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Read-Only, Required Columns' src='//codepen.io/GrapeCity-Korea/embed/yMpmzr/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/yMpmzr/'>FlexGrid/Read-Only, Required Columns</a> by GrapeCity
  Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>