<h1 class="page-header">
  바인딩 | Binding
</h1>
<p>
  대부분의 시나리오에서 <b>FlexGrid</b>는 서버에서 로드되거나 코드에서 생성된 데이터를 표시합니다.이 데이터는 객체의 배열로 표현되며 그리드는 <b>itemsSource</b> 속성을 통해이 배열에 <b>바인딩</b>됩니다.
</p>  
<p>
  기본적으로 <b>itemsSource</b> 속성을 설정하면 그리드가 데이터 개체를 검색하고 <b>데이터 항목의 각 속성에 대한 열을 자동으로 생성</b>합니다.
</p>
<iframe height='655' scrolling='no' title='FlexGrid/Concepts' src='//codepen.io/GrapeCity-Korea/embed/JWXLbj/?height=650&theme-id=light&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/JWXLbj/'>FlexGrid/Concepts</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>

<p></p>
<p></p>

<p>  
Column 자동 생성은 간단한 데이터 소스 또는 응용 프로그램 테스트/개발 중에는 잘 작동합니다.
<br>그러나 대부분의 경우 <b>자동 열 생성을 해제하고 코드에서 열을 지정해야합니다.이 방법으로 열이 표시되는 순서, 너비, 형식, 헤더 등을 완벽하게 제어 할 수 있습니다.</b>
</p>
<p>각 열에는 셀에 표시되어야하는 데이터 항목의 속성을 결정하는 바인딩 속성이 있습니다.</p>
<iframe height='630' scrolling='no' title='FlexGrid - Binding | 열 자동 생성' src='//codepen.io/GrapeCity-Korea/embed/JWXLbj/?height=630&theme-id=light&default-tab=js,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/GrapeCity-Korea/pen/JWXLbj/'>FlexGrid - Binding | 열 자동 생성</a> by GrapeCity Korea (<a href='https://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>