<h1 class="page-header">
  스티키 헤더 | Sticky Headers
</h1>
<p>
  <b>stickyHeaders</b> 속성을 사용하여 문서를 스크롤 할 때 <b>열 머리글</b>이 표시되도록하여, 그리드를 더 읽기 쉽게 할 수 있습니다.
</p>
<p>
  고정 상태의 헤더는 일반 헤더처럼 작동합니다. 정렬, 드래그하여 열 순서를 바꾸거나 크기를 조정할 수 있습니다.
</p>
<p>
 스티키 헤더가 작동하는 방법을 확인하고 그리드 상단이 창 밖으로 스크롤될 때까지 문서를 아래로 스크롤하십시오:
</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Column/Sticky Headers' src='//codepen.io/GrapeCity-Korea/embed/mWrYmQ/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/mWrYmQ/'>FlexGrid/Column/Sticky Headers</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>
