<h1 class="page-header">
  사용자 정의 셀 팩토링 | Custom CellFactory
</h1>


<p>그리드는 <b>cellFactory</b>를 사용하여 표시할 셀을 사용자 정의 합니다.</p>
<p>
 맞춤형 <b> cellFactory </b> 클래스를 사용하는 것은  <b> itemFormatter </b> 또는 <b> formatItem </b> 이벤트를 사용하는 것이 더 효율적일 수 있습니다.
 이는 기본 셀 컨텐츠 생성을 우회하여 사용자 정의 셀을 재활용 할 수 있기 때문입니다..</p>
<p>
   이 예제에 사용 된 <b> CustomCellFactory </b> 클래스는 기본 클래스를 사용하여 내용을 변경하지 않고 셀 요소의 위치를 지정합니다. 필요시에만 업데이트됩니다. 그리드가 셀을 재정렬하고 재활용하기 때문에 향상된 렌더링 성능을 제공합니다.
</p>
<p>
아래의 옵션을 선택하여 각 렌더링 모드의 성능을 비교하고 마우스 또는 키보드로 그리드를 스크롤 해 보세요:
</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Custom CellFactory' src='//codepen.io/GrapeCity-Korea/embed/OWjbXq/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/OWjbXq/'>FlexGrid/Custom CellFactory</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>