<ul>
    <li *ngFor='let tocs of toc' [attr.data-target]="'#' + tocs.header">
        {{tocs.header}}<span class="arrow"></span>
        <ul [attr.id]="tocs.header">
            <li *ngFor='let item1 of tocs.items' [attr.data-target]="'#' + item1.header">
                <div *ngIf='item1.items != null'>{{item1.header}}<span class="arrow"></span></div>
                <div *ngIf='item1.items == null'><a [routerLink]="[item1.path]">{{item1.header}}</a><span class="arrow"></span></div>
                <ul [attr.id]="item1.header" *ngIf='item1.items'>
                    <li *ngFor='let item2 of item1.items'>
                        <a href="">{{item2.header}}</a><span class="arrow"></span>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>


<!--
<ul *ngFor='let tocs of toc'>
      <li [attr.data-target]="'#' + tocs.header">
        {{tocs.header}}<span class="arrow"></span>
        <ul *ngFor='let item1 of tocs.items' [attr.id]="tocs.header">
            <li [attr.data-target]="'#' + item1.header">
                {{item1.header}}<span class="arrow"></span>        
                <ul *ngFor='let item2 of item1.items' [attr.id]="item1.header">
                    <li>
                        {{item2.header}}<span class="arrow"></span>        
                    </li>
                </ul>
            </li>
        </ul>

      </li>
</ul>
-->