<h1 class="page-header">
  수정 이벤트 | Editing Events
</h1>
<p>
  FlexGrid에는 편집과 관련된 여러 이벤트가 있습니다.</p>
<p>
  이 예제는 두 가지 방법을 사용하는 방법을 보여줍니다.</p>
<ul>
  <li>
    <b>beginningEdit</b>: <b>cancel</b> 매개변수를 true로 설정하여 Overdue(지연) 항목을 편집하지 못하게합니다.</li>
  <li>
    <b>cellEditEnding</b>: 'sales'및 'expenses'항목에 대해 음수를 입력하지 마십시오.</li>
</ul>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Editing/Editing Events' src='//codepen.io/GrapeCity-Korea/embed/jBZNMO/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true'
  frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/jBZNMO/'>FlexGrid/Editing/Editing Events</a> by GrapeCity Korea
  (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>