<h1 class="page-header">
  Server-Side 필터링 | Filtering
</h1>
<p>
  <b> OData </b> 소스에서 <b> ODataCollectionView </b> 클래스로 데이터를 로드하는 경우 <b> FlexGridFilter </b>는 서버 측 필터링을 자동으로 제공할 수 있습니다.</p>
<p>
  보기의 <b> sortOnServer </b> 속성을 true로 설정하면 <b> FlexGridFilter </b>가 자동으로 필터 조건을 서버에서 처리할 <b> OData </b> 필터문으로 변환합니다.</p>
<hr>
<h3> 샘플코드: </h3>
<p><code>Result와 함게 HTML, JS 코드도 확인이 가능합니다.</code></p>
<iframe height='650' scrolling='no' title='FlexGrid/Server-Side Filtering' src='//codepen.io/GrapeCity-Korea/embed/KWRZre/?height=650&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/KWRZre/'>FlexGrid/Server-Side Filtering</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
<p></p>
<p></p>